
.clearfix::after{
	content:"";
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	overflow:hidden;
}
.mtp{
		background: black;
    width: 100%;
}

.bottom{
	background:url(images/mtp.png);
}
a:link
{
	color:#FF9900;
	text-decoration:none;
}
a:visited
{
	color:#FF9900;
	text-decoration:none;
}
a:active
{
	color:#FF9900;
	text-decoration:none;
}
a:hover
{
	color:black;
	text-decoration:none;
}
.box
{
	width:968px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background:white;
}
.shell
{
	width:960px;
	border:0px;
	padding:4px;
}
.shell .banner
{
	height:303px;	
}
.shell .menuleft
{
	width:147px;
	float:left;
}
.shell .main
{
	width:813px;
	margin-left:147px;
	height: auto;
	
}
.shell .ngan
{
	clear:both;
}
.shell .bottom
{
	height:100px;
}
.thanhngang
{
	color:#FFFFFF;
	font-size:12px;
}
.thanhngang a:link
{
	color:#FFFFCC;
	text-decoration:none;
}
.thanhngang a:active
{
	color:#FFFFCC;
	text-decoration:none;
}
.thanhngang a:visited
{
	color:#FFFFCC;
	text-decoration:none;
}
.thanhngang a:hover
{
	color:#FFCC33;
	text-decoration:none;
}
.menuleft
{
	width:147px;
	border:0px;
}
.menuleft a:link
{
	background:#66A111;
	color:#FFFFCC;
	line-height:23px;
	text-decoration:none;
	border-bottom:solid #458900 1px;
	display:block;
	padding-left:10px;
	font-size: 13px;
}
.menuleft a:active
{
	background:#66A111;
	color:#FFFFCC;
	line-height:23px;
	text-decoration:none;
	border-bottom:solid #458900 1px;
	display:block;
	padding-left:10px;
	
}.menuleft a:visited
{
	background:#66A111;
	color:#FFFFCC;
	line-height:23px;
	text-decoration:none;
	border-bottom:solid #458900 1px;
	display:block;
	padding-left:10px;
	
}.menuleft a:hover
{
	background:#4A8D00;
	color:#FFFF99;
	line-height:23px;
	text-decoration:none;
	border-bottom:solid #458900 1px;
	display:block;
	padding-left:10px;
	
}
.ht
{
	color:#5A9A06;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.ten
{
	color:#FF9900;
	font-size:12px;
}
.demuc
{
	color:#669900;
}
input,select,textarea
{
	border:#CCCCCC 1px solid;
	color:#999933;
	background:#F2F1EF;
	font-family:Arial, Helvetica, sans-serif;
	
}
.dongbang
{
	border:1px;
}
.dongbang TD
{
	border-left:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
	line-height:20px;
	
}
.pp
{
	margin:15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	
}
.phantrang
{
	background:#FFFFFF;
	border:#CCCCCC 1px solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px; 
}
.tranghientai
{
	background:#CCCCCC;
	border:#CCCCCC 1px solid;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:7px;
	padding-left:7px; 
}
